<form 
  [formGroup]="phaseForm" 
  class="xx" 
  novalidate 
  (ngSubmit)="onSubmit()">
  <div formGroupName="phaseExecutions">
    <div formArrayName="PRE">
      <div>
        <button 
          type="button" 
          class="btnshow" 
          (click)="addMorePhase()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>  
        <div class="row ">
          <label class="col-sm-4">Column Name</label> 
          <label class="col-sm-4">Column Type</label>
            <label class="col-sm-4">Allow Null</label>
        </div>
        <div class="row space" *ngFor="let phase of phaseArray.controls; let i = index;" 
        [formGroupName]="i">                    
          <input 
            type="text" 
            class="form-control col-sm-4" 
            formControlName="phaseValue" placeholder="Column Name"> 
            <select 
            class="form-control col-sm-4" 
            formControlName="phaseType" 
            >  
            <option value="">Column Type</option>
            <option value="Date&Time">Date&Time</option>
            <option value="Varchar2">Varchar2</option>
            <option value="Integer">Integer</option>                    
          </select>  
            <input 
              type="checkbox" 
              class="form-control col-sm-2 check" 
              formControlName="phaseValue1">
              <button type="button" 
              class="btnshow1"(click)="removePhone(i)">
              <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary but" >Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</form>